APP_URL=http://localhost:3030
APP_PORT=3030
APP_PROXY=
APP_ENV=development

AUTH_SECRET=cc565a0b12920f0ac60b2ff6bb011d8b5f6822da8ba6e73561b9bb5afa37951d
AUTH_EXPIRES=7d

DB_DIALECT=postgres
DB_HOST=localhost
DB_DATABASE=gobarber
DB_USERNAME=postgres
DB_PASSWORD=docker

MONGO_URL=mongodb://localhost:27017/gobarber
